 
<% if @banner.present? %><%=f.hidden_field :shop_id, value: @banner&.shop_id %><%=f.hidden_field :id %><% end %>
<div class ="form_block25" ><%= f.label :Write_your_Promotional_Message %>
</div>
<div class ="form_block75"  >
	<div class="Polaris-TextField Polaris-TextField--hasValue form_textarea"><%= f.text_field :text, :class=>'Polaris-TextField__Input', placeholder: "Banner Text" %>
		<div class="Polaris-TextField__Backdrop"></div>
	</div>
</div>
<div class ="form_block25" ><%= f.label :Font_Color %>
</div>
<div class ="form_block75"  >
	<div class="Polaris-TextField"><%= f.text_field :font_color, :class=>'Polaris-TextField__Input mini-col', placeholder: "select color" %>
		<div class="Polaris-TextField__Backdrop"></div>
	</div>
</div>
<div class ="form_block25" ><%= f.label :Font_Size %>
</div>
<div class ="form_block75"  >
	<div class="Polaris-TextField Polaris-TextField--hasValue"><%= f.text_field :font_size, :class=>'Polaris-TextField__Input', placeholder: "Font Size"%>
		<div class="Polaris-TextField__Backdrop"></div>
	</div>
</div>
<div class ="form_block25" ><%= f.label :background_color %>
</div>
<div class ="form_block75"  >
	<div class="Polaris-TextField"><%= f.text_field :background_color, :class=>'Polaris-TextField__Input mini-col', placeholder: "select color" %>
		<div class="Polaris-TextField__Backdrop"></div>
	</div>
</div>
<div class ="form_block25" ><%= f.label :Padding %>
</div>
<div class ="form_block75"  >
	<div class="Polaris-TextField Polaris-TextField--hasValue"><%= f.text_field :padding, :class=>'Polaris-TextField__Input', placeholder: "Padding" %>
		<div class="Polaris-TextField__Backdrop"></div>
	</div>
</div>
<div class ="form_block25" ><%= f.label :Start %>
</div>
<div class ="form_block75"  >
	<div class="form-group">
		<div class='input-group date' >
			<div class="Polaris-TextField"><%= f.text_field :active_at, :class=>'Polaris-TextField__Input form-control',:id=>'datetimepicker', placeholder: "Date-time"  %>
				<div class="Polaris-TextField__Backdrop"></div>
			</div>
		</div>
	</div>
</div>
<div class ="form_block25" ><%= f.label :End %>
</div>
<div class ="form_block75"  >
	<div class="form-group">
		<div class='input-group date' >
			<div class="Polaris-TextField"><%= f.text_field :deactive_at, :class=>'Polaris-TextField__Input form-control',:id=>'datetimepicker1', placeholder: "Date-time"  %>
				<div class="Polaris-TextField__Backdrop"></div>
			</div>
		</div>
	</div>
</div>
<div class ="form_block25" ><%= f.label "Set as Active" %>
	<br />
</div>
<div class ="form_block75"  ><%=  f.check_box( :is_active,{class: '' }, "true", "false") %>
</div>
<div class ="form_block25" ><%= f.label "Set as Default" %>
	<br />
</div>
<div class ="form_block75"  ><%=  f.check_box( :default,{class: '' }, "true", "false") %>
</div>
<div class ="form_block25"  >
	<div class="Polaris-FormLayout__Item">
		<button type="submit" class="Polaris-Button Polaris-Button Polaris-Button--primary">
			<span class="Polaris-Button__Content ">
				<span class="Polaris-Button__Text">Save</span>
			</span>
		</button>
	</div>
</div>
<span class="Polaris-VisuallyHidden">
	<button type="submit" aria-hidden="true"></button>
</span>
</div>
<script>
  $('.mini-col').minicolors(
    {
        opacity: false,
        defaultValue: '#2083fd',
        control: 'hue',
        textfield: false,
       change: function(hex, opacity) {
          const id=  $(this).attr('id');
          let id_selector='';
          if(id.indexOf('t')>-1)
          id_selector='#'+ id.replace('t','b');
        else
          id_selector='#'+ id.replace('c','f');
          $(id_selector).val(hex);
         }
  
  }
  );

jQuery('#datetimepicker').datetimepicker();
jQuery('#datetimepicker1').datetimepicker();

</script>